<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pubmed_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:abstract) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.id, article_path(article) %></td>
        <td><%= article.pubmed_id %></td>
        <td><%= article.title %></td>
        <td><%= article.abstract %></td>
        <td><%= l article.created_at, format: :long %></td>
        <td>
          <%= link_to t("helpers.links.edit_html"), edit_article_path(article),
            :class => 'btn btn-mini' %>
          <%= link_to t("helpers.links.destroy_html"), article_path(article),
            method: :delete, confirm: t("helpers.links.confirm"),
            class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
